.phpunit.result.cache
.php-cs-fixer.cache
docs/phpstan/output.txt
vendor/
docs/config/cache/nette.configurator
docs/config/cache/PHPStan
docs/config/resultCache.php
.idea/copilot.data.migration.ask2agent.xml
work/
work.md
.ledger/
